function eventHandle(event, instance) {
}

function propertyChange(newValue, oldValue, ownerInstance, instance) {
    if (newValue != oldValue) {
        var component = ownerInstance.selectComponent('#icon');
        if (newValue) {
            component.getState().stop = false;
            var deg = 0;
            var duration = component.getDataset().duration;
            var totalCount = Math.floor(duration / (1000 / 60));
            var delta = 360 / totalCount;

            function rotate() {
                if (component.getState().stop) return;
                deg += delta;
                if (deg >= 360) {
                    deg = 0;
                }
                component.setStyle({
                    transform: 'rotate(' + deg + 'deg)'
                });
                ownerInstance.requestAnimationFrame(rotate);
            }

            rotate();
        } else {
            component.getState().stop = true;
        }

    }
}


module.exports = {
    propertyChange: propertyChange,
    eventHandle: eventHandle
}
